extends layout

block content

 h1
    p.
      ENTER TITLE FOR DELETING THE BLOG
    br
  form(action='/users/deletedata' method='post')
     .row
        .col-md-3
            img(src='../images/7.png')
        .col-md-6.col-md-offset-1
            label Title:
            br
            input(type='text', name='title',class='form-group')
            br
            input(type='submit', value='Delete',class='btn btn-success')
