extends layout

block content
 h1
    p.
      INPUT YOUR DATA
  form(action='/users/readdata' method='post')
      | Title:
      br
      input(type='text', name='title')
      br
      input(type='submit', value='Read')

 