extends layout

block content
 .row
    .col-md-3.col-md-offset-4
        img(src='../images/8.jpg')
 .row
   .col-md-12
        h1
         label Title ---#{data.title}
         br
         label Blog ---#{data.address}
     
