extends layout

block content
  h1
    p.
      UPDATE YOUR DATA
  form(action='/update/updatedata' method='post')
      | Title:
      br
      input(type='text', name='title')
      br
      | Body:
      br
      textarea(name='address', rows='3', cols='30')
      br
      br
      input(type='submit', value='Update')
      
      
