extends layout

block content
  h1
    p.
      INPUT YOUR DATA
  form(action='/users/savedata' method='post')
    .row
      .col-md-3
        img(src='../images/1.jpg')
      .col-md-6
        div.form-group
          label Title:
          input(type='text', name='title', class='form-control')
        div.form-group
          label Body:
          textarea(name='address', rows='3', cols='30' class='form-control')
        input(type='submit', value='Save', class="btn btn-default")

      
